<h1 class="pageHeader" style="justify-content: center;">WELCOME TO THE USER POSTS</h1>



<div class="row">
  <div class="col s5">
    <div class="card">
      <div class="card-image">
        <img
          src="https://www.thespruce.com/thmb/rk3DGZLrlgEOprRfSwKqKopUzk4=/2121x1193/smart/filters:no_upscale()/Bird-GettyImages-582446599-58ec5c4d5f9b58ef7e24e7f4.jpg">
        <span class="card-title">BIRD NAME</span>
      </div>
      <div class="card-content">
        <p>
        <h5>{{user.id}}User ID</h5>
        </p>
        <p>
        <h5>{{user.post}}Their Post</h5>
        </p>
        <p>
        <h5>{{user.location}}Location of post</h5>
        </p>
      </div>
      <div class="card-action">
        <a href="#">
          <h5>See More of {{user.name}}'s Posts</h5>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s5">
    <div class="card">
      <div class="card-image">
        <img
          src="https://i.natgeofe.com/n/6f9b6d9e-5797-4867-a859-7b0c2a66cd3b/02-bird-of-paradise-A012_C010_1029SF_0001575.jpg">
        <span class="card-title">{{bird.name}}</span>
      </div>
      <div class="card-content">
        <p>
        <h5>{{user.id}}User ID</h5>
        </p>
        <p>
        <h5>{{user.post}}Their Post</h5>
        </p>
        <p>
        <h5>{{user.location}}Location of post</h5>
        </p>
      </div>
      <div class="card-action">
        <a href="#">
          <h5>See More of {{user.name}}'s Posts</h5>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s5">
    <div class="card">
      <div class="card-image">
        <img src="https://i.insider.com/608b3a2034af8d001859a096?width=700">
        <span class="card-title">BIRD NAME</span>
      </div>
      <div class="card-content">
        <p>
        <h5>{{user.id}}User ID</h5>
        </p>
        <p>
        <h5>{{user.post}}Their Post</h5>
        </p>
        <p>
        <h5>{{user.location}}Location of post</h5>
        </p>
      </div>
      <div class="card-action">
        <a href="#">
          <h5>See More of {{user.name}}'s Posts</h5>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col s9 offset-s8">
    <div class="card">
      <img
        src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202001/kingfisher-2046453_1920.jpeg?DTtSe9WyFhZ8e3yu8xGNrs4WM4gEQB8E&size=770:433">
      <span class="card-title">Filler text</span>
    </div>
  </div>
</div>
